<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Paymaster</title>

	<!-- Bootstrap core CSS -->
	<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{css/heroic-features.css}" rel="stylesheet">
	<link th:href="@{/css/carousel.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<link th:href="@{/css/navbar.css}" rel="stylesheet">

	<style>
		.titulo-servicios {
			font-weight: bold; /* Aplica negrita */
			font-family: 'Copperplate', sans-serif; /* Cambiar la fuente */
			font-size: 2em; /* Ajusta el tamaño de la fuente */
		}
	</style>

</head>
<body>
<header>
<!-- Navigation -->
<div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}">
</div>

<div th:include="usuario/template_usuario.html::header-user" th:unless="${sesion==null}"> </div>
</header>
<main>
<!-- Jumbotron Header -->
	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="overlay"></div> <!-- Superposición oscura -->
				<img th:src="@{imagenes/fotor-20240809184810.jpg}" class="img-fluid" alt="maquina excavadora">

				<div class="container">
					<div class="carousel-caption text-start">
						<h1>PAYMASTER</h1>
						<p>Expertos en servicios de construcción para todas sus necesidades.</p>
						<p><a class="btn btn-lg btn-primary" th:href="@{/usuario/registro}">Registrarse</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="overlay"></div> <!-- Superposición oscura -->
				<img th:src="@{imagenes/fotor-ai-2024080918538.jpg}" class="img-fluid" alt="sitio de construcción">

				<div class="container">
					<div class="carousel-caption">
						<h1>Solidez y confianza en cada proyecto</h1>
						<p>Aseguramos construcciones robustas y relaciones basadas en la integridad.</p>
						<p><a class="btn btn-lg btn-primary" th:href="@{/usuario/login}">Iniciar Sesion</a></p>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="overlay"></div> <!-- Superposición oscura -->
				<img th:src="@{imagenes/ciudad.jpg}" class="img-fluid" alt="ciudad" width="100%" height="100%">

				<div class="container">
					<div class="carousel-caption text-end">
						<h1>Expertos en hacer realidad tus ideas</h1>
						<p>Superando tus expectativas con soluciones innovadoras y personalizadas.</h1>
						<p><a class="btn btn-lg btn-primary" href="#servicios">Ver Servicios</a></p>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

<!-- Page Content -->
<div id="servicios" class="container">
	<div><h1 class="titulo-servicios">SERVICIOS</h1></div>
	<!-- Page Features -->
	<div class="row text-center">

		<div class="col-lg-3 col-md-6 mb-4" th:each="servicio: ${servicios}">
			<div class="card h-100">
				<img class="card-img-top"
					 th:src="@{/images/{img} (img=${servicio.imagen})} " alt="">
				<div class="card-body">
					<p class="card-text" th:text="${servicio.nombre}"></p>
				</div>
				<div class="card-footer">
					<a th:href="@{/serviciohome/{id}  (id=${servicio.id})  }" class="btn btn-success">Ver
						servicio</a>
				</div>
			</div>
		</div>

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<div th:include="usuario/template_usuario.html::footer"></div>
</main>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
