<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
		  rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<div th:include="usuario/template_usuario.html::header" th:if="${sesion==null}">
</div>

<div th:include="usuario/template_usuario.html::header-user" th:unless="${sesion==null}"> </div>

	<div class="container">
	<h1>Pago Exitoso</h1>
	<p>Tu pago se ha procesado correctamente y la orden ha sido generada.</p>
	<!-- Muestra los detalles de la orden generada -->
	<p>Gracias por tu compra. Recibirás una confirmación por correo electrónico en breve.</p>
		<a th:href="@{/}">Volver al Inicio</a>
	</div>
<!-- Footer -->
<footer class="container">
	<hr class="featurette-divider">

	<p>&copy; 2024 Paymaster, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</main>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>
</html>